In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display

In [84]:
# Read and combine files
p20171 = pd.read_csv("./data/ICFES/SB11-20171-RGSTRO-CLFCCN-V1-0.zip", sep="¬", engine="python")

p20172 = pd.read_csv("./data/ICFES/SB11-20172-RGSTRO-CLFCCN-V1-0.zip", sep="¬", engine="python")

In [87]:
# Add missing columns
p20171['COLE_JORNADA'] = None

p20172['FAMI_TIENEINTERNET'] = None

#icfes.drop(columns=['ESTU_ESTUDIANTE', 'ESTU_COD_RESIDE_DEPTO', 'ESTU_COD_RESIDE_MCPIO', 'COLE_CODIGO_ICFES'])

# Rename columns
p20171 = p20171.rename(index=str, columns={"FAMI_COME_CARNEPESCADOHUEVO": "FAMI_COMECARNEPESCADOHUEVO",
                                           "FAMI_COME_CEREALFRUTOSLEGUMBRE": "FAMI_COMECEREALFRUTOSLEGUMBRE",
                                           "FAMI_TIENE_CONSOLAVIDEOJUEGOS": "FAMI_TIENECONSOLAVIDEOJUEGOS",
                                           "FAMI_COME_LECHEDERIVADOS": "FAMI_COMELECHEDERIVADOS",
                                          "FAMI_SITUACION_ECONOMICA": "FAMI_SITUACIONECONOMICA", 
                                          "FAMI_TIENE_SERVICIOTV": "FAMI_TIENESERVICIOTV",
                                          "FAMI_TRABAJOLABOR_MADRE": "FAMI_TRABAJOLABORMADRE", 
                                          "FAMI_TRABAJOLABOR_PADRE": "FAMI_TRABAJOLABORPADRE"})

p20172 = p20172.rename(index=str, columns={"x": "x", 
                                           "x": "x"})

In [88]:
# Mergesort is the only stable algorithm
p1 = np.sort(p20171.columns.values, kind='mergesort')
p2 = np.sort(p20172.columns.values, kind='mergesort')

columns = pd.DataFrame(data=p1, columns={'p1'}).join(pd.DataFrame(data=p2, columns={'p2'}))

#display(columns[64: ])

# Find not matching columns
columns[columns['p1'] != columns['p2']]

Empty DataFrame
Columns: [p1, p2]
Index: []

In [89]:
# Concat the two periods
icfes = pd.concat([p20171, p20172], ignore_index=True, join='outer')

icfes.describe()

,COLE_CODIGO_ICFES,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,COLE_COD_MCPIO_UBICACION,DESEMP_C_NATURALES,DESEMP_LECTURA_CRITICA,DESEMP_MATEMATICAS,DESEMP_SOCIALES_CIUDADANAS,ESTU_COD_DEPTO_PRESENTACION,...,PERCENTIL_LECTURA_CRITICA,PERCENTIL_MATEMATICAS,PERCENTIL_SOCIALES_CIUDADANAS,PERIODO,PUNT_C_NATURALES,PUNT_GLOBAL,PUNT_INGLES,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS
count,559253.000000,5.592530e+05,5.592530e+05,559253.000000,559253.000000,559253.000000,559253.000000,559253.000000,559253.000000,559253.000000,...,559253.000000,559253.000000,559253.000000,559253.000000,559253.00000,559253.000000,559253.000000,559253.000000,559253.000000,559253.000000
mean,140244.643415,2.078890e+11,2.083958e+11,32.822204,33054.508553,2.228462,2.692901,2.421358,2.169700,32.757552,...,50.477698,50.489648,50.503897,20171.976767,51.48688,256.611432,49.992833,53.399356,50.347531,50.497778
std,170163.577928,9.541512e+10,9.608404e+10,26.625493,26649.109448,0.736757,0.712931,0.764392,0.794125,26.678268,...,28.894852,28.886292,28.863344,0.150642,10.20125,49.340166,11.993842,9.889415,12.155660,11.263646
min,18.000000,1.050010e+11,1.050010e+11,5.000000,5001.000000,1.000000,1.000000,1.000000,1.000000,5.000000,...,1.000000,1.000000,1.000000,20171.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,36632.000000,1.178670e+11,1.178730e+11,11.000000,11001.000000,2.000000,2.000000,2.000000,2.000000,11.000000,...,25.000000,25.000000,26.000000,20172.000000,44.00000,219.000000,41.000000,46.000000,41.000000,42.000000
50%,97790.000000,1.760010e+11,1.760010e+11,20.000000,20550.000000,2.000000,3.000000,2.000000,2.000000,20.000000,...,51.000000,51.000000,51.000000,20172.000000,51.00000,254.000000,48.000000,53.000000,50.000000,50.000000
75%,154922.000000,3.080010e+11,3.080010e+11,54.000000,54344.000000,3.000000,3.000000,3.000000,3.000000,54.000000,...,75.000000,76.000000,75.000000,20172.000000,59.00000,291.000000,57.000000,60.000000,59.000000,58.000000
max,711671.000000,8.548740e+11,8.548740e+11,99.000000,99773.000000,4.000000,4.000000,4.000000,4.000000,99.000000,...,100.000000,100.000000,100.000000,20172.000000,100.00000,476.000000,100.000000,100.000000,100.000000,100.000000

In [94]:
(icfes.isnull().sum() / len(icfes)).sort_values(ascending=False)

FAMI_TIENEINTERNET               0.977384
ESTU_ETNIA                       0.941842
COLE_BILINGUE                    0.142324
ESTU_DEDICACIONINTERNET          0.051819
FAMI_TIENESERVICIOTV             0.049926
FAMI_ESTRATOVIVIENDA             0.049359
FAMI_COMECARNEPESCADOHUEVO       0.048413
FAMI_COMECEREALFRUTOSLEGUMBRE    0.048157
ESTU_DEDICACIONLECTURADIARIA     0.046936
FAMI_COMELECHEDERIVADOS          0.046138
FAMI_NUMLIBROS                   0.045455
FAMI_EDUCACIONPADRE              0.044145
FAMI_EDUCACIONMADRE              0.044143
COLE_JORNADA                     0.023233
ESTU_PRIVADO_LIBERTAD            0.023231
FAMI_TRABAJOLABORPADRE           0.021173
FAMI_PERSONASHOGAR               0.020681
FAMI_TIENEAUTOMOVIL              0.018761
FAMI_TIENECONSOLAVIDEOJUEGOS     0.018457
ESTU_TIPOREMUNERACION            0.018004
FAMI_TRABAJOLABORMADRE           0.017826
FAMI_TIENEHORNOMICROOGAS         0.017225
FAMI_TIENEMOTOCICLETA            0.016681
FAMI_TIENECOMPUTADOR             0.016402
FAMI_CUARTOSHOGAR                0.015730
COLE_CARACTER                    0.015530
FAMI_TIENELAVADORA               0.015363
ESTU_HORASSEMANATRABAJA          0.014961
FAMI_SITUACIONECONOMICA          0.013745
ESTU_INSE_INDIVIDUAL             0.013091
                                   ...
COLE_COD_MCPIO_UBICACION         0.000000
COLE_COD_DEPTO_UBICACION         0.000000
COLE_COD_DANE_SEDE               0.000000
COLE_COD_DANE_ESTABLECIMIENTO    0.000000
COLE_CODIGO_ICFES                0.000000
COLE_CALENDARIO                  0.000000
DESEMP_MATEMATICAS               0.000000
ESTU_NACIONALIDAD                0.000000
ESTU_COD_DEPTO_PRESENTACION      0.000000
ESTU_COD_MCPIO_PRESENTACION      0.000000
PUNT_LECTURA_CRITICA             0.000000
PUNT_INGLES                      0.000000
PUNT_GLOBAL                      0.000000
PUNT_C_NATURALES                 0.000000
PERIODO                          0.000000
PERCENTIL_SOCIALES_CIUDADANAS    0.000000
PERCENTIL_MATEMATICAS            0.000000
PERCENTIL_LECTURA_CRITICA        0.000000
PERCENTIL_INGLES                 0.000000
PERCENTIL_GLOBAL                 0.000000
PERCENTIL_C_NATURALES            0.000000
ESTU_TIPODOCUMENTO               0.000000
ESTU_PAIS_RESIDE                 0.000000
PUNT_MATEMATICAS                 0.000000
ESTU_MCPIO_PRESENTACION          0.000000
ESTU_ESTUDIANTE                  0.000000
ESTU_ESTADOINVESTIGACION         0.000000
ESTU_DEPTO_PRESENTACION          0.000000
ESTU_CONSECUTIVO                 0.000000
COLE_AREA_UBICACION              0.000000
Length: 81, dtype: float64

In [90]:
icfes['FAMI_TRABAJOLABORPADRE'].describe(include='all')

count                                  547412
unique                                     15
top       Es agricultor, pesquero o jornalero
freq                                    77859
Name: FAMI_TRABAJOLABORPADRE, dtype: object

In [91]:
icfes['FAMI_TRABAJOLABORPADRE'].value_counts(dropna=False)

Es agricultor, pesquero o jornalero                                                                       77859
Trabaja por cuenta propia (por ejemplo plomero, electricista)                                             62116
Es operario de máquinas o conduce vehículos (taxita, chofer)                                              57683
No sabe                                                                                                   49280
No aplica                                                                                                 47515
Trabaja como profesional (por ejemplo médico, abogado, ingeniero)                                         44716
Es dueño de un negocio pequeño (tiene pocos empleados o no tiene, por ejemplo tienda, papelería, etc      43508
Trabaja como personal de limpieza, mantenimiento, seguridad o construcción                                40621
Trabaja en el hogar, no trabaja o estudia                                                                 36321
Es vendedor o trabaja en atención al público                                                              33757
Tiene un trabajo de tipo auxiliar administrativo (por ejemplo, secretario o asistente)                    24438
Es dueño de un negocio grande, tiene un cargo de nivel directivo o gerencial                              14737
Pensionado                                                                                                13228
NaN                                                                                                       11841
Es dueño de un negocio pequeño (tiene pocos empleados o no tiene, por ejemplo tienda, papelería, etc.)      936
No Sabe                                                                                                     697
Name: FAMI_TRABAJOLABORPADRE, dtype: int64

In [92]:
# Replace extrange characters in string values
icfes.replace(to_replace=('\"', '`', '\''), value=('', ' ', ' '), regex=True, inplace=True)


#icfes[icfes['COLE_NOMBRE_ESTABLECIMIENTO'].str.contains("IDEBIC")].iloc[0:5, 14:]

In [93]:
icfes.to_csv("./data/ICFES/icfes.csv", index=False, encoding="utf-8")