In [1]:
import pandas as pd

In [62]:
# Read file
icfes = pd.read_csv("./data/ICFES/icfes.csv", low_memory=False)

print(icfes.shape)
icfes.describe()

(559253, 79)

In [27]:
icfes['FAMI_EDUCACIONMADRE'].value_counts()

Secundaria (Bachillerato) completa      130648
Primaria incompleta                      87414
Secundaria (Bachillerato) incompleta     81839
Primaria completa                        60438
Educación profesional completa           56744
Técnica o tecnológica completa           51077
Técnica o tecnológica incompleta         16280
Educación profesional incompleta         13424
Ninguno                                  13404
Postgrado                                13080
No sabe                                   9185
No Aplica                                 1033
Name: FAMI_EDUCACIONMADRE, dtype: int64

In [28]:
icfes['FAMI_EDUCACIONMADRE'].describe(include='all')

count                                 534566
unique                                    12
top       Secundaria (Bachillerato) completa
freq                                  130648
Name: FAMI_EDUCACIONMADRE, dtype: object

In [25]:
# Use the same value for equivalent education levels
edu_dict = {"No Sabe":"No sabe", 
            "Primaria Completa": 'Primaria completa', 
            "Primaria Incompleta": 'Primaria incompleta',
            "Secundaria(Bachillerato) Incompleta": 'Secundaria (Bachillerato) incompleta', 
            "Secundaria(Bachillerato) Completa": 'Secundaria (Bachillerato) completa', 
            "Educación Técnica o Tecnológica Completa": 'Técnica o tecnológica completa', 
            "Educación Técnica o Tecnológica Incompleta": 'Técnica o tecnológica incompleta', 
            "Educación Profesional Incompleta": 'Educación profesional incompleta', 
            "Educación Profesional Completa": 'Educación profesional completa'}


icfes['FAMI_EDUCACIONPADRE'] = icfes['FAMI_EDUCACIONPADRE'].replace(to_replace=edu_dict)
icfes['FAMI_EDUCACIONMADRE'] = icfes['FAMI_EDUCACIONMADRE'].replace(to_replace=edu_dict)

In [64]:
# Drop records without socioeconomic data
icfes = icfes.dropna(axis=0, how='all', subset=['FAMI_ESTRATOVIVIENDA','FAMI_TIENECOMPUTADOR',
                                                 'FAMI_TIENELAVADORA','FAMI_TIENEHORNOMICROOGAS','FAMI_TIENEAUTOMOVIL'])

# Verify the dropping
icfes3 = icfes.loc[icfes['FAMI_ESTRATOVIVIENDA'].isnull() 
           & icfes['FAMI_TIENECOMPUTADOR'].isnull() 
           & icfes['FAMI_TIENELAVADORA'].isnull() 
           & icfes['FAMI_TIENEHORNOMICROOGAS'].isnull() 
           & icfes['FAMI_TIENEAUTOMOVIL'].isnull()]

icfes3[['FAMI_ESTRATOVIVIENDA','FAMI_TIENECOMPUTADOR',
        'FAMI_TIENELAVADORA','FAMI_TIENEHORNOMICROOGAS','FAMI_TIENEAUTOMOVIL']]

Empty DataFrame
Columns: [FAMI_ESTRATOVIVIENDA, FAMI_TIENECOMPUTADOR, FAMI_TIENELAVADORA, FAMI_TIENEHORNOMICROOGAS, FAMI_TIENEAUTOMOVIL]
Index: []

In [65]:
# Missing values

In [66]:
icfes.to_csv("./data/ICFES/icfes_preprocessing.csv", index=False, encoding="utf-8")

In [45]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

icfes.select_dtypes(include=numerics).to_csv("./data/ICFES/icfes_num.csv", index=False, encoding="utf-8")