# Taller AE

Juan Navarro, jsnavarroa@unal.edu.co


[Adult Data Set](http://archive.ics.uci.edu/ml/datasets/Adult), from the UC Irvine Machine Learning Repository

In [16]:
adult <- read.csv("./data/UCI/adult.data", header=FALSE)
names(adult) <- c("age", "workclass", "fnlwgt", "education", "education-num", "marital-status", 
                  "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", 
                  "hours-per-week", "native-country", "income")
head(adult)

  age workclass         fnlwgt education  education-num marital-status
1 39   State-gov         77516  Bachelors 13             Never-married
2 50   Self-emp-not-inc  83311  Bachelors 13             Married-civ-spouse
3 38   Private          215646  HS-grad    9             Divorced
4 53   Private          234721  11th       7             Married-civ-spouse
5 28   Private          338409  Bachelors 13             Married-civ-spouse
6 37   Private          284582  Masters   14             Married-civ-spouse
  occupation         relationship   race   sex     capital-gain capital-loss
1  Adm-clerical       Not-in-family  White  Male   2174         0
2  Exec-managerial    Husband        White  Male      0         0
3  Handlers-cleaners  Not-in-family  White  Male      0         0
4  Handlers-cleaners  Husband        Black  Male      0         0
5  Prof-specialty     Wife           Black  Female    0         0
6  Exec-managerial    Wife           White  Female    0         0
  hours-per-week native-country income
1 40              United-States  <=50K
2 13              United-States  <=50K
3 40              United-States  <=50K
4 40              United-States  <=50K
5 40              Cuba           <=50K
6 40              United-States  <=50K